{% extends "base.html" %}
{% block title%}
Register
{% endblock %}
{% block privitani%}
{% endblock %}
{% block logout%} 
{% endblock %}
{% block card%}
{%block obnova%}
{% endblock %}
{%block script%}
{% endblock %}
<style>
  .button {
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 12px;
      border: 2px solid #ffffff;
  }
  .border{
    border-radius: 50px;
    border: 3px solid black; /* silnější černý rámeček */
    padding: 20px; /* vnitřní odsazení */
    display: inline-block; /* aby div zůstal jen kolem obsahu */
  }
  .btn-primary {
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid black; 
  }
  .textbox{
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid black; 
  }

  .btn-primary:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  } 
  </style>
<div align="center">
  <div align="center" class="border">
     <div class="header">
        <h1 class="word">Registrujte se</h1>
     </div></br></br></br>
    <h2 class="word">
        <form action="{{ url_for('register') }}" method="post">
          <div class="msg">{{ msg }}</div>
            <input id="username" name="username" type="text" placeholder="Uživatelské jméno" class="textbox"/></br></br>
            <input id="password" name="password" type="password" placeholder="Heslo" class="textbox"/></br></br>
            <input type="submit" class="btn btn-primary" value="Zaregistrovat"></br>
        </form>
    </h2>
    <p class="bottom">Už máte učet? <a class="bottom" href="{{url_for('login')}}"> Přihlašte se zde</a></p>
  </div>
</div>
{% endblock %}